# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

#miscelanea
*.log
*.status
*.m4

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
openstratos
openstratosRoot
utesting
Makefile

# http://www.gnu.org/software/automake

*.in

# http://www.gnu.org/software/autoconf
*.scan
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
.deps/
.dirstamp
*~
config.h

# Eclipse files
.project
.cproject